@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.inner{
    width: 1100px;
    margin: auto;
}
header{

       
}
.utill{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    gap: 20px;
}
.header-bt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    }
.gnb{
    display: flex;
    align-items: center;
    gap: 20px;
}
.gnb > li {
    height: 100%;
width: calc(100% / 5);
}
.gnb > li >a{
    display: block;
    width: 100%;
    line-height: 60px;
    }
.gnb > li >a:hover {
    color: #fff;
    background-color: #333;
}