@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 공통영역 */
.inner {
  position: relative;
  width: 1180px;
  margin: auto;
}
/* <!-- 전체 레이아웃 --> */
/* <!-- 상단 --> */
header {
  width: 100%;
}
header .inner {
  height: 120px;
}
/* 상단위 */
.header-top {
  height: 60px;
}
.utill {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.utill > li > a {
  /* 폰트사이즈13 lineheight14이다 */
  font: 13px/1 " arial";
}
.header-bt {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}
.gnb {
  display: flex;
  width: 600px;
  text-align: center;
}
.gnb > li {
  width: calc(100% / 5);
}

.gnb > li > a {
  display: block;
  line-height: 60px;
}
.gnb > li > a:hover {
  background-color: #333;
  color: #fff;
}
/* <!-- 비주얼 --> */
figure {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #333;
  padding-top: 250px;
}
figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
figure .inner h2 {
  font: 120px/1 "arial";
  color: #fff;
  margin-bottom: 20px;
}
figure .inner p {
  font: 16px/1.4 "arial";
  color: #888;
  margin-bottom: 60px;
}
figure .inner a {
  display: block;
  width: 400px;
  border: 1px solid #bbb;
  font: bold 12px/30px "arial";
  color: #fff;
  text-align: center;
}
figure .inner a:hover {
  background-color: #bbb;
  color: #333;
}
/* <!-- 뉴스 --> */
section {
  padding: 200px 0;
}
section h2 {
  text-align: center;
  margin-bottom: 50px;
}
.section-wrap ul {
  display: flex;
  gap: 20px;
}
.section-wrap ul li {
  width: calc(100% / 4);
}
.section-wrap ul li h3 {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}
.section-wrap ul li p {
  font-size: 14px;
  color: #777;
}
.pic {
  position: relative;
  height: 120px;
  overflow: hidden;
}
.pic img {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
}
/* <!-- 하단 --> */
.footer {
  padding: 100px 0;
  background-color: #333;
}
.upper {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
}

.upper ul {
  display: flex;
  gap: 20px;
}
.upper h2 a {
  color: #888;
  font: bold 24px/1 "arial";
}
.upper ul li a {
  color: #777;
  font: bold 14px/1 "arial";
}
.lower{
  margin-top: 20px;
}
.lower address{
  font : 12px/1.3 " arial";
  color: #777;
   padding-bottom: 20px;
  }
 .lower p{
    font: 12px/1 "arial";
    color: #777;
  }